on: 
   issues:
    types: [opened]
   push:
    branches:
      - main
   pull_request:
    types: [closed]
    branches:
      - main

jobs:
  artia_comment_job:
    runs-on: ubuntu-latest
    name: A job to comment in artia activity.
    steps:
      - name: Comentando atividade
        id: Comment
        uses: donPain/action_temp@v2.2
        with: 
          organizationId: 111402
          accountId: 3757321
          folderId: 3764173
          creatorEmail: 'nerdplis@gmail.com'
          creatorPassword: ${{ secrets.ARTIA_PASSWORD }}
      



